<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>팀원 추가</title>
</head>

<body>
    <form method="POST" action="{% url 'searchPerson' scoutingTeam.id%}">
        {% csrf_token %}
        <input type="text" name="newMemberId" placeholder="초대할 사람의 아이디..">
        <input type="submit" value="검색">
    </form>

    {% if error %} {{error}} {% endif %}


</body>

</html>